/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #003e5b !important;
  --toolbarbutton-icon-fill: #6aa4cb !important;
  --toolbar-field-color: #5f6367 !important;
  --tab-selected-textcolor: #6aa4cb !important;
  --toolbar-color: #5f6367 !important;
  --arrowpanel-color: #5f6367 !important;
  --arrowpanel-background: #1c2024 !important;
  --sidebar-text-color: #5f6367 !important;
  --zen-main-browser-background: #101417 !important;
  --zen-main-browser-background-toolbar: #101417 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #101417 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #101417 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1c2024 !important;
}

#zen-workspaces-button {
  background-color: #1c2024 !important;
}

#TabsToolbar {
  background-color: #101417 !important;
}

.urlbar-background {
  background-color: #1c2024 !important;
}

.urlbar-input::selection {
  color: #001f30 !important;
  background-color: #6aa4cb !important;
}

.urlbarView-url {
  color: #989ea5 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #6aa4cb
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #84badf !important;
  --identity-icon-color: #84badf !important;
}

.identity-color-turquoise {
  --identity-tab-color: #6aa4cb !important;
  --identity-icon-color: #6aa4cb !important;
}

.identity-color-green {
  --identity-tab-color: #9ef3a8 !important;
  --identity-icon-color: #9ef3a8 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff9a5 !important;
  --identity-icon-color: #fff9a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fdf572 !important;
  --identity-icon-color: #fdf572 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fbd !important;
  --identity-icon-color: #ff9fbd !important;
}

.identity-color-pink {
  --identity-tab-color: #a9dcff !important;
  --identity-icon-color: #a9dcff !important;
}

.identity-color-purple {
  --identity-tab-color: #003e5b !important;
  --identity-icon-color: #003e5b !important;
}

#zen-appcontent-navbar-container {
  background-color: #101417 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #6aa4cb !important;
  color: #6aa4cb !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #6aa4cb !important;
  color: #6aa4cb !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #6aa4cb !important;
}
